.heightZero {
    height: 0px !important;
    transition: .5s;
}

.widthZero {
    width: 0 !important;
    transition: .5s;
}

.displayNone {
    display: none;
}

.transformClear {
    transform: none !important;
}

.opacityZero {
    opacity: 100% !important;
}