.popup__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.303);

    button {
        width: 50px;
        height: 50px;
        font-size: 4rem;
        background-color: transparent;
        border: none;
        color: var(--cor-1);
    }

    select {
        font-size: 2rem;
        cursor: pointer;
    }

    .card__infos {
        display: flex;
        flex-direction: column;
        background-color: var(--cor-2);
        gap: 5px;
        border-radius: 3px;

        .item {
            display: flex;
            align-items: center;
            gap: 15px;
            background-color: rgb(76, 76, 76);
            padding: 5px;
            border-radius: 5px;

            img {
                width: 40px;
                height: 40px;
            }

            p {
                font-size: 1.8rem;
                text-align: justify;
            }
        }

        button {
            width: auto;
            height: auto;
            font-size: 2rem;
            align-self: flex-end;
            background-color: var(--cor-1);
            color: var(--cor-2);
            padding: 5px;
            border-radius: 5px ;
        }

        input {
            font-size: 2rem;
            padding: 5px;
            border-radius: 5px;
            border: none;
        }

        .add_word_card_popUp {
            width: 450px;
            padding: 10px;

            .add_word_form {
                display: flex;
                flex-direction: column;

                font-size: 2rem;
                div {
                    display: flex;
                    flex-direction: column;
                    padding: 5px 0;
                }

                label {
                    color: var(--cor-1);
                }

                button {
                    align-self: flex-end;
                }
            }
        }

        .newText {
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            gap: 5px;
            padding: 5px;
            color: var(--cor-1);

            input {
                font-size: 2rem;
            }

            textarea {
                font-size: 2rem;
                height: 300px;
            }
        }
    }
}