@font-face {
    font-family: "Figtree";
    src: url(https://localhost:7167/MeuDicionarioFront-main/assets/font/Figtree/Figtree-VariableFont_wght.ttf);
}

:root {
    --cor-1: #D5F2F2;
    --cor-2: #010326;
    --cor-3: #224462;
    --font-default: "Figtree";
}